/*  your css code here. If applicable */
body{
	display:flex;
align-items:center;
justify-content:center;
}
div{
text-align:center;
	background-color:green;
	height:420px;
width:300px;
object-cover
overflow:hidden;
}
button{
	padding:10px;
background-color:pink;
color:white;
border-radius:10px
}